<section class= 'flex flex-col gap-2 mt-10 items-center justify-center' id= "room_<%="#{room.id}"%>" >
  <div class= 'flex flex-col'>
    <h3 class= 'font-bold text-3x1 text-white'> <%= room.name %> - Room </h3>
    <span class= 'text-white font-semibold'> Users in this room </span>
  </div>
  <section class= 'flex gap-5'>
    <div class= 'py-2 px-10 flex flex-col gap-1 items-center border-sky-600 border rounded-lg my-2 shadow-lg w-96'>
      <h3 class='text-white font-semibold text-center'> Users in this room</h3>
        <% room.users.each do |user| %>
          <div class='rounded underline text-white my-1 font-semibold text-sm'>
            <%= user.email %>
          </div>
        <%end%>
    </div>
    <div class= 'py-2 px-10 flex flex-col gap-1 items-center border-sky-600 border rounded-lg my-2 shadow-lg w-96'>
      <h3 class='text-white font-semibold text-center'> Users not in the room </h3>
        <% User.left_outer_joins(:rooms).where.not(id: current_user.id).where("rooms.id IS NULL OR (rooms.id <> ?)", room.id).distinct.each do |user| %>
          <div class='rounded underline text-white my-1 font-semibold text-sm'>
            <%= button_to add_user_path, params: {user_id: user, room_id: room.id}, id: "add_user_#{user.id}", method: :post do%>
              <%= user.email %>
            <%end%>
          </div>
        <%end%>
    </div>
  </section>
</section>
